
.container {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}


.title {

    font-size: 2rem;
    margin-bottom: 20px;
}


.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}


.skillCard {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.skillIcon {
    font-size: 3rem;
    margin-bottom: 10px;
}


.skillName {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.skillDescription {
    font-size: 1rem;
    color: #555;
}
