.resume-download-container {
    text-align: center;
    margin-top: 50px;
}
  
.resume-download-container h2 {
    font-size: 2rem;
    color: #333;
    height: auto;
    margin-bottom: 20px;
}
  
.download-btn {
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 57px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.download-btn:hover {
    background-color: #0056b3;
    cursor: pointer;
}
  
body {
    font-family: 'Arial', sans-serif;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
  
.image-container img {
    max-width: 700px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid #007bff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}