
.homeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    min-height: 60vh;
}
  
#Profile_Picture {
    margin-bottom: 20px;
}
  
#Profile_Picture img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.section_text {
    text-align: center;
}
  
.section_text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
  
.section_text .intro_text {
    font-size: 1.25rem;
    color: #555;
    margin-top: 0;
    padding: 0 20px;
    max-width: 500px;
    line-height: 1.5;
}
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
  